@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: url(./owasp.png);
  background-size: cover;
}


