<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    
    <!-- Login Form -->
    <form method="POST" action="/login">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
</body>
</html>

